* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Candara', sans-serif;
    font-size: 16px;
    color: #333;
}
/*div.cover {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*background-color: rgba(85, 85, 85, 0.7);*/
/*}*/
.form-container {
    background-color: ghostwhite;
    padding: 25px;
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    width: auto;
    height: auto;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
h2 {
    font-size: 28px;
    color: indianred;
    margin-bottom: 20px;
}
form > * {
    display: block;
    margin: 10px auto;
}

input {
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    text-align: center;
}
input:focus {
    outline: none;
    background-color: lightgoldenrodyellow;
    border: double 2px #666;
}
.pass {
    border: solid 1px #666;
}

.invalidInput {
    border: solid 3px #ca191d;
}

kbd {
font-style: oblique;
}

span.small {
    font-size: 12px;
}